a{
    text-decoration: none;
    color: yellow;
}


#red {
    background-color: red;
    color: white;
    margin: 30px auto;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
}

#red h2{
    background-color: rgb;
    color: white;
    padding: 10px;
}

#red p{
    background-color: white;
    color: red;
    padding: 10px;
}

#green {
    background-color: green;
    color: white;
    margin: 30px auto;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
}

#green h2{
    background-color: rgb;
    color: white;
    padding: 10px;
}

#green p{
    background-color: white;
    color: green;
    padding: 10px;
}


#blue {
    background-color: blue;
    color: white;
    margin: 30px auto;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
}

#blue h2{
    background-color: blue;
    color: white;
    padding: 10px;
}

#blue p{
    background-color: white;
    color: blue;
    padding: 10px;
}

#purple {
    background-color: purple;
    color: white;
    margin: 30px auto;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
}

#purple h2{
    background-color: rgb;
    color: white;
    padding: 10px;
}

#purple p{
    background-color: white;
    color: purple;
    padding: 10px;
}

#black {
    background-color: black;
    color: white;
    margin: 30px auto;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
}

#black h2{
    background-color: rgb;
    color: white;
    padding: 10px;
}

#black p{
    background-color: white;
    color: black;
    padding: 10px;
}

